

* { 
    margin:0; 
    padding:0; 
}

html, body { 
    width:100%; 
    height:100%; 
} 
body {
    touch-action:none;
}

#request-perms {
    display: none;
    width: 100%;
    height: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*  transform: translate(-50%, -50%); */
    font-size: 10em;

}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: grey; /*#060333;*/
}
