

* { 
    margin:0; 
    padding:0; 
}

html, body { 
    width:100%; 
    height:100%; 
} 
body {
    touch-action:none;
}

#request-perms {
    display: none;
    width: 100%;
    height: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10em;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    background: #060333;
}

#alert-container {
    display: none;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed; 
    left: 0;
    top: 0;
}

#no-heading-alert {
    font-size: 350%;
    text-align: center;
    color: black;
    background-color: rgba(169, 169, 169, 0.8);
    margin-left: 2em;
    margin-right: 2em;
}

